@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

@layer utilities {

  .my-slider-height {
    height: 700px;
  }
  .indicator-border {
    border-color: #288c56;
    border-width: 1px;
  }
  .bg-white {
    background-color: #af9c3f !important;
  }
  .bg-white-color {
    background-color: #f9f9f9;
  }
  .background-yellow {
    background-color: #af9c3f !important;
    border: none !important;
  }
  .background-black {
    background-color: #000 !important;
    border: none !important;
  }
  .font64 {
    font-size: 64px;
    line-height: 64px;
  }
  .committee-people {
    width: 120px;
    height: 120px;
  }
  .committee-people-common {
    width: 80px;
    height: 80px;
  }
  .content-border-color {
    color: #c4c4c4;
  }
  .pagination-bg-color {
    background-color: white !important;
  }
}
